<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>geophoto</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/1140-1.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/ui.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/ui-style.css" type="text/css" media="screen" />
	
</head>

<body style="color: #f0f0f0">

<div style="border: 1px solid #444;padding: 0 25px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png);text-align: center;margin: 20px;width: 250px" class="jpg_shadow">
	
	<!-- <img src="{{STATIC_URL}}img/login.png"> -->
	
	<div style="text-align: right;padding: 15px 0;position: relative">
		
		<div>
			<div style="display: inline-block">login</div>
			<input type="text" class="inp_date" maxlength="20" id="lgn">
		</div>
		
		<div>
			<div style="display: inline-block">password</div>
			<input type="text" class="inp_date" maxlength="20" id="pwd">
		</div>
		
		<div class="button green" style="margin: 10px 0" id="btn_login">
			OK
		</div>
		
		<div style="position: absolute;top: -20px;left: 0;background: #000;padding: 10px">Sign in</div>
		
	</div>
	
</div>

<div style="border: 1px solid #444;padding: 0 25px;color: #fff;background: url({{ STATIC_URL }}img/wild_oliva.png);text-align: center;margin: 20px;color: #f0f0f0;width: 250px;" class="jpg_shadow">
	
	<div style="text-align: right;padding: 15px 0;position: relative">
		
		<div>
			<div style="display: inline-block">login <span style="color: #AFE01B;font-size: 10px">(4 - 20)</span></div>
			<input type="text" class="inp_date" maxlength="20" id="reg_lgn">
		</div>
		
		<div>
			<div style="display: inline-block">email</div>
			<input type="text" class="inp_date" maxlength="100" id="reg_email">
		</div>
		
		<div>
			<div style="display: inline-block">password <span style="color: #AFE01B;font-size: 10px">(4 - 20)</span></div>
			<input type="password" class="inp_date" maxlength="20" id="reg_pwd">
		</div>
		
		<div>
			<div style="display: inline-block">confirm password</div>
			<input type="password" class="inp_date" maxlength="20" id="reg_pwd_confirm">
		</div>
		
		<div>
			<div id="cptch"></div>
		</div>
		
		<div class="button green" style="margin: 10px 0" id="btn_register" onclick="Sitis.check_sign_up()">
			Sign up
		</div>
		
		<div style="position: absolute;top: -20px;left: 0;background: #000;padding: 10px">Register</div>
		
	</div>
	
</div>

<script type="text/javascript">

var geo = {
	
	opts: {
		'csrf_cookie': 'csrftoken'
	}
	
}

geo.login = function()
{
	var lgn = document.getElementById('lgn').value
	var pwd = document.getElementById('pwd').value
	var headers = {"X-CSRFToken": geo.helpers.readCookie('csrftoken')}
	yajax.send({
		"method": "POST",
		"url": "/account/login/",
		"data": {"lgn": encodeURIComponent(lgn), "pwd": encodeURIComponent(hex_md5(pwd))},
		"header": headers,
		"success": function(response)
		{
			if (response == '1') window.location.reload(); else alert('wrong password or login');
		}
	})
}

geo.helpers = {
	
	bindEvent: function(elem ,evt, callback)
	{
		if (elem.addEventListener)
		{
			elem.addEventListener(evt, callback, false)
		}
		else if	(elem.attachEvent)
		{
			elem.attachEvent('on' + evt, function() {
				callback.call(event.srcElement,event)
			})
		}
	},
	readCookie: function(name)
	{
		var nameEQ = name + "="
		var ca = document.cookie.split(';')
		for (var i = 0; i < ca.length; i++)
		{
			var c = ca[i]
			while (c.charAt(0) == ' ') c = c.substring(1, c.length)
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length)
		}
		return null
	},
	setCookie: function(name, value, props)
	{
		props = props || {}
		var exp = props.expires
		if (typeof exp == "number" && exp)
		{
			var d = new Date()
			d.setTime(d.getTime() + exp * 1000)
			exp = props.expires = d
		}
		if (exp && exp.toUTCString) { props.expires = exp.toUTCString() }
		
		value = encodeURIComponent(value)
		var updatedCookie = name + "=" + value;
		for (var propName in props)
		{
			updatedCookie += "; " + propName
			var propValue = props[propName]
			if (propValue !== true) { updatedCookie += "=" + propValue }
		}
		document.cookie = updatedCookie
	}
}

geo.init = function()
{
	var a
	// check csrf token exist
	//alert(this.helpers.readCookie('csrf_token'))
	a = geo.helpers.readCookie()
	if (a == null || a == '') geo.helpers.setCookie(geo.opts.csrf_cookie, '{{ csrf_token }}')
	document.onkeypress = function(e) { if (!e) e = window.event; if ( e.keyCode == 13 ) {  geo.login(); return false; }}
	var btn_login = document.getElementById('btn_login')
	geo.helpers.bindEvent(btn_login, 'click', geo.login)
}

document.body.onload = geo.init

</script>

<script type="text/javascript" src="{{STATIC_URL}}js/intro.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/yajax.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/md5.js"></script>

</body>

</html>
